<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expand Team</title>
</head>

<body>
    <%- include("partials/header"); %>


<% if (data){ %>

<div id="wrapper">
    <h1>Team Event:&nbsp;<%= event %></h1>
    <h2>TID:&nbsp;<%= tid %></h2>
    <h2>Team Name:&nbsp;<%= name %></h2>
  
  
    <table id="expandTable">
      <tr>
        <th>PID</th>
        <th>Name</th>
        <th>Roll No</th>
        <th>College</th>
        <th>Branch</th>
        <th>Year</th>
        <th>Phone</th>
      </tr>
  
      <% for(const i in data) { %>
      <tr>
        <td><%= data[i]['pid'] %></td>
        <td><%= data[i]['name'] %></td>
        <td><%= data[i]['rollno'] %></td>
        <td><%= data[i]['college'] %></td>
        <td><%= data[i]['branch'] %></td>
        <td><%= data[i]['year'] %></td>
        <td><%= data[i]['phone'] %></td>
      </tr>
  
      <% } %>
    </table>
</div>

<%} else{%>
<h1>TID is not defined!</h1>
    <%}%>
  




  <style>

    #wrapper{
        display: flex;
        
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h1,
    h2 {
      text-align: center;
    }
    /* h1{
        color:blue
    }
    h2{
        color: green;
    } */

    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    h1,
    h2 {
      text-align: center;
    }
    #expandTable{
        width: 700px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;

    }

    td {
      font-size: 13px;
    }

    th {
      background-color: orange;
      color: white;
      font-weight: bold;
    }

  
  </style>
</body>

</html>